@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    --primary: #FFFFFF;
    --secondary: #8D8D8D;
    --dark: #141414;
    --red: #db0e35;
    --redDark: #a40b28;
    --green: #0EDB6A; 
    --btnfont: 'Bebas Neue', cursive;
}



h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;

}

p{
    font-family: 'Montserrat', sans-serif;
}



